<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  </head>
  <body class="bg-warning">
    <div class="container">
      <div class="d-flex pt-5 mt-5 mb-3 justify-content-center">
        <h1 class="fs-1">Dashboard</h1>
      </div>
      <div class="table-container d-flex justify-content-center">
        <div class="row w-75">
          <table class="table text-center table-dark">
            <thead>
              <tr>
                <th>Id</th>
                <th class="w-25">Username</th>
                <th class="w-25">Fullname</th>
                <th class="w-25">Age</th>
                <th class="w-25">Score</th>
                <th>
                  <a class="text-decoration-none" href="/dashboard/create">
                    <button type="button" class="btn btn-primary">Create</button>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach((data) => { %>
              <tr>
                <th scope="row"><%= data.id %></th>
                <td><%= data.username %></td>
                <td><%= data.UserGameBiodata.fullname %></td>
                <td><%= data.UserGameBiodata.age %></td>
                <td><%= data.UserGameHistories.score %></td>
                <td>
                  <div class="d-flex gap-2 text-nowrap">
                    <a class="btn btn-success btn-sm" href="/dashboard/edit/<%= data.id %>" role="button">Edit</a>
                    <form method="post" action="/dashboard/<%= data.id %>?_method=DELETE">
                      <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    </form>
                  </div>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a class="text-decoration-none text-danger text-center" href="/">Home</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
