<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <title>Edit User</title>
  </head>
  <body class="bg-warning">
    <div class="d-flex flex-column text-center justify-content-center pt-5 mt-5">
      <h1>Edit User</h1>
      <form method="post" action="/dashboard/edit/<%= user.id %>">
        <div class="pt-2">
          <label for="username">Username</label>
          <br />
          <input type="text" name="username" value="<%= user.username %>" required />
        </div>
        <div>
          <label for="fullname">Fullname</label>
          <br />
          <input type="text" name="fullname" value="<%= biodata.fullname %>" required />
        </div>
        <div>
          <label for="age">Age</label>
          <br />
          <input type="number" name="age" value="<%= biodata.age %>" required />
        </div>
        <div class="d-flex justify-content-center py-2">
          <button class="w-5 rounded bg-black text-warning" type="submit">Edit</button>
        </div>
      </form>
      <a class="text-decoration-none text-danger" href="/dashboard">Cancel</a>
    </div>
  </body>
</html>
