<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ROCK PAPER SCISSORS GAME</title>
    <link rel="stylesheet" href="./css/game.css" />
  </head>
  <body>
    <header>
      <a href="/"><</a>
      <img src="assets/logo.png" alt="logo" />
      <h1>ROCK PAPER SCISSORS</h1>
    </header>
    <main>
      <div id="player1">
        <h2>PLAYER 1</h2>
        <div class="player1Pick batu">
          <input type="image" src="assets/batu.png" onclick="playerPick(0)" />
        </div>
        <div class="player1Pick kertas">
          <input type="image" src="assets/kertas.png" onclick="playerPick(1)" />
        </div>
        <div class="player1Pick gunting">
          <input type="image" src="assets/gunting.png" onclick="playerPick(2)" />
        </div>
      </div>
      <div id="versus">
        <p class="vs">VS</p>
      </div>
      <div id="computer">
        <h2>COM</h2>
        <div class="computerPick batu">
          <img alt="batu" src="assets/batu.png" />
        </div>
        <div class="computerPick kertas">
          <img alt="kertas" src="assets/kertas.png" />
        </div>
        <div class="computerPick gunting">
          <img alt="gunting" src="assets/gunting.png" />
        </div>
      </div>
      <div id="refresh">
        <input class="refresh" type="image" src="assets/refresh.png" onclick="refresh()" />
      </div>
    </main>
    <script src="./js/game.js"></script>
  </body>
</html>
