<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <!-- Custom Style CSS -->
    <link rel="stylesheet" href="./css/style.css" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet" />

    <!-- Font Awesome Icon -->
    <script src="https://kit.fontawesome.com/90fceccab4.js" crossorigin="anonymous"></script>

    <title>Play Traditional Game</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark py-lg-3 px-sm-5 px-lg-2 px-3">
      <div class="container-fluid">
        <a class="navbar-brand ms-lg-5 ps-lg-5 me-lg-5" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav text center ms-xl-5 ps-lg-5 me-lg-auto">
            <li class="nav-item ms-lg-4">
              <a class="nav-link" href="#main">HOME</a>
            </li>
            <li class="nav-item ms-lg-4">
              <a class="nav-link" href="#features">WORK</a>
            </li>
            <li class="nav-item ms-lg-4">
              <a class="nav-link" href="#news">CONTACT</a>
            </li>
            <li class="nav-item ms-lg-4">
              <a class="nav-link" href="#about">ABOUT ME</a>
            </li>
          </ul>
          <ul class="navbar-nav text center me-lg-5 pe-lg-5">
            <li class="nav-item">
              <a class="nav-link" href="/signup">SIGN UP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-lg-3" href="/login">LOGIN</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <!-- Main -->
    <div id="main" class="main d-flex justify-content-center align-content-center">
      <div class="main-container d-flex justify-content-center align-content-center flex-column">
        <h1 class="main-title text-center fw-bold text-white mb-5 display-3">PLAY TRADITIONAL GAME</h1>
        <h3 class="main-text text-center fs-2 text-white px-2 mb-5">Experience new traditional game play</h3>
        <div class="d-flex justify-content-center align-content-center mt-4">
          <a href="/game">
           <button class="main-btn btn-lg text-nowrap"><strong>PLAY NOW</strong></button>
          </a>
        </div>
        <div class="main-scroll d-flex flex-column justify-content-center align-content-center">
          <a href="#about">
            <p class="main-scroll-text fs-6 fw-bold text-center text-white mb-1">THE STORY</p>
            <img class="main-scroll-btn mb-5" src="assets/scroll.svg" alt="scroll" />
          </a>
        </div>
      </div>
    </div>
    <!-- End Main -->

    <!-- About -->
    <div id="about" class="about">
      <h3 class="about-text text-white mb-2">What's so special?</h3>
      <div class="about-container">
        <div class="row">
          <div class="about-banner col-lg-4">
            <h1 class="about-title text-white mb-5 display-2">THE GAMES</h1>
          </div>
          <div class="about-carousel col-lg-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/rockpaperstrategy-1600.png" class="d-block w-100" alt="rockpaperstrategy-1600" />
                </div>
                <div class="carousel-item">
                  <img src="assets/rockwin.jpg" class="d-block w-100" alt="rockwin" />
                </div>
                <div class="carousel-item">
                  <img src="assets/scissorswin.jpg" class="d-block w-100" alt="scissorswin" />
                </div>
                <div class="carousel-item">
                  <img src="assets/paperwin.jpg" class="d-block w-100" alt="paperwin" />
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End About -->

    <!-- Fearures -->
    <div id="features" class="features">
      <div class="features-container">
        <div class="row">
          <div class="col-sm-2 col-md-3 col-lg-6 col-xl-7"></div>
          <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <h1 class="features-title fs-2 text-white mb-2">What's so special?</h3>
            <h3 class="features-text text-white mb-5 pb-4 display-2">FEATURES</h1>
            <ul class="custom-marker ps-3">
              <li>
                <div class="first pb-5">
                  <h2 class="features1 ms-4 fs-3 text-warning mb-4">TRADITIONAL GAMES</h2>
                  <p class="features1-detail ms-4">If you miss your childhood, we provide many traditional games here</p>
                  <span></span>
                </div>
              </li>
              <li>
                <h2 class="features2 ms-4 fs-3 text-warning mb-5">GAME SUIT</h2>
              </li>
              <li>
                <h2 class="features3 ms-4 fs-3 text-warning">TBD</h2>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Features -->

    <!-- Requirements -->
    <div id="requirements" class="requirements">
      <h3 class="requirements-title fs-6 text-center text-white">Can My Computer Run this game?</h3>
      <div class="requirements-container">
        <div class="row my-lg-3 py-2">
          <div class="col-lg-6">
            <h3 class="requirements-text text-white display-2">SYSTEM</h1>
            <h3 class="requirements-text text-white mb-5 display-2">REQUIREMENTS</h1>
              <table class="table table-bordered table-responsive">
                <tbody>
                  <tr>
                    <th>
                      <h4>OS:</h4>
                      <p>Windows 7 64-bit only</p>
                      <p>(No OSX support at this time)</p>
                    </th>
                    <th>
                      <h4>PROCESSOR:</h4>
                      <p>Intel Core 2 Duo @ 2.4 GHZ or</p>
                      <P>AMD Athlon X2 @ 2.8 GHZ</P>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <h4>MEMORY:</h4>
                      <P>4GB RAM</P>
                    </th>
                    <th>
                      <h4>STRORAGE:</h4>
                      <p>8GB avaliable space</p>
                    </th>
                  </tr>
                  <tr>
                    <th colspan="2">
                      <h4>GRAPICS:</h4>
                      <p>NVIDIA GeForce GTX 660 2GB or</p>
                      <p>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                    </th>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End Requirements -->

    <!-- Quotes -->
    <div id="quotes" class="quotes">
      <div class="quotes-container">
        <div class="row">
          <div class="col-lg-5 p-5 d-flex flex-column justify-content-center align-content-center">
            <div class="quotes-banner">
              <h3 class="features-text text-white text-nowrap mb-4 display-2">TOP SCORES</h1>
              <p>This top score from various games provided on this platform</p>
              <button class="main-btn btn-lg mt-4" type="button"><strong>see more</strong></button>
            </div>
          </div>
          <div class="card-container col-lg-5 offset-lg-1">
            <div class="row">
              <div class="col-sm-5 offset-lg-3 mb-4">
                <div class="card">
                  <div class="card-header mb-0 pb-0 d-flex flex-row align-content-center justify-content-between">
                    <div class="card-header1 d-flex flex-row">
                      <img class="photo" src="assets/photo1.png" alt="photo1">
                      <div class="photo-shadow"></div>
                      <div class="card-header-text d-flex flex-column justify-content-center align-content-center ps-4">
                        <h3>Evan Lahti</h3>
                        <p>PC Gamer</p>
                      </div>
                    </div>
                    <img class="icon" src="assets/twitter.svg" alt="twitter">
                  </div>
                  <div class="card-body mt-0 pt-3 mb-xl-2">
                    <h6>“One of my gaming highlights of the year.”</h6>
                    <p>June 18, 2021</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5 mb-4">
                <div class="card">
                  <div class="card-header mb-0 pb-0 d-flex flexgi-row align-content-center justify-content-between">
                    <div class="card-header1 d-flex flex-row">
                      <img class="photo" src="assets/photo2.png" alt="photo1">
                      <div class="photo-shadow"></div>
                      <div class="card-header-text ps-4">
                        <h3>Jada Griffin</h3>
                        <p>Nerdreactor</p>
                      </div>
                    </div>
                    <img class="icon" src="assets/twitter.svg" alt="twitter">
                  </div>
                  <div class="card-body mt-0 pt-2">
                    <h6>“The next big thing in the world of streaming and survival games.”</h6>
                    <p>June 10, 2021</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5 offset-lg-3">
                <div class="card">
                  <div class="card-header mb-0 pb-0 d-flex flex-row align-content-center justify-content-between">
                    <div class="card-header1 d-flex flex-row">
                      <img class="photo" src="assets/photo3.png" alt="photo1">
                      <div class="photo-shadow"></div>
                      <div class="card-header-text d-flex flex-column justify-content-center align-content-center ps-4">
                        <h3>Aaron Williams</h3>
                        <p>Uproxx</p>
                      </div>
                    </div>
                    <img class="icon" src="assets/twitter.svg" alt="twitter">
                  </div>
                  <div class="card-body mt-0 pt-2">
                    <h6>“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</h6>
                    <p>December 24, 2018</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Quotes -->

    <!-- Newsteller -->
    <div id="news" class="news">
        <div class="row">
          <div class="col-lg-6 col-md-1">
          </div>
          <div class="col-lg-6 col-md-10 col-sm-12">
            <h3 class="news-title fs-2 text-white mb-3">Want to stay in touch?</h3>
            <h3 class="news-text text-white mb-4 display-2">NEWSTELLER SUBSCRIBE</h1>
            <p class="text-white mb-5">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam.</p>
            <div class="news-input d-sm-flex flex-row flex-nowrap">
              <form class="form-floating mb-3">
                <input type="email" class="form-control fs-5 text-warning" id="floatingInputValue" placeholder="youremail@binar.co.id" value="youremail@binar.co.id">
                <label for="floatingInputValue" class="form-label">Your email adress</label>
              </form>
              <div class="news-btn">
                <button class="main-btn btn-lg ms-sm-3" type="button"><strong>Subscribe Now</strong></button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- End Newsteller -->

    <!-- Footer -->
    <div id="footer" class="footer pb-2">
      <footer>
        <div class="footer-nav d-lg-flex flex-row justify-content-lg-center justify-content-xl-end border-bottom mb-4">
          <ul class="nav justify-content-center mb-4">
            <li class="nav-item"><a href="#main" class="nav-link px-1 px-sm-2 px-lg-2 px-xl-4">MAIN</a></li>
            <li class="nav-item"><a href="#about" class="nav-link px-1 px-sm-2 px-lg-2 px-xl-4">ABOUT</a></li>
            <li class="nav-item"><a href="#features" class="nav-link px-1 px-sm-2 px-lg-2 px-xl-4">GAME FEATURES</a></li>
            <li class="nav-item"><a href="#requirements" class="nav-link px-1 px-sm-2 px-lg-2 px-xl-4">SYSTEM REQUIREMENTS</a></li>
            <li class="nav-item"><a href="#quotes" class="nav-link px-1 px-sm-2 px-lg-2 px-xl-4">QUOTES</a></li>
          </ul>
          <ul class="nav justify-content-center list-unstyled d-flex ps-lg-5 ms-lg-5 pb-2 mb-4">
            <li><a class="facebook" rel="noopener" target="_blank" href="https://www.facebook.com/binaracademy"><i class="fa-brands fa-facebook-f fa-xl"></i></a></li>
            <li><a class="twitter ms-3 ms-sm-5" rel="noopener" target="_blank" href="https://www.twitter.com/academybinar"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
            <li><a class="youtube ms-3 ms-sm-5" rel="noopener" target="_blank" href="https://www.youtube.com/c/BinarAcademy"><i class="fa-brands fa-youtube fa-xl"></i></a></li>
            <li><a class="twitch ms-3 ms-sm-5" rel="noopener" target="_blank" href="https://www.twitch.tv"><i class="fa-brands fa-twitch fa-xl"></i></a></li>
          </ul>
        </div>
        <div class="copyright d-lg-flex justify-content-between">
          <p class="copyright-start"> © 2018 Your Games, Inc. All Rights Reserved</p>
          <P class="copyright-end">
            <a href="#">Privacy Policy</a>
            |
            <a href="#">Terms of Services</a>
            |
            <a href="#">Code of Conduct</a>
          </P>
        </div>
      </footer>
    </div>
    <!-- End Footer -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
