<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <title>Sign Up</title>
  </head>
  <body class="bg-warning"></body>
    <div class="d-flex flex-column text-center justify-content-center pt-5 mt-5">
      <h1>Sign Up</h1>
      <form action="/signup" method="post">
        <div class="pt-2">
          <label for="username">Username</label>
          <br />
          <input type="text" id="username" name="username" required />
        </div>
        <div>
          <label for="password">Password</label>
          <br />
          <input type="password" id="password" name="password" required />
        </div>
        <div class="d-flex justify-content-center py-2">
          <button class="w-5 rounded bg-black text-warning" type="submit">Sign Up</button>
        </div>
      </form>
      <a class="text-decoration-none text-danger" href="/login">Login</a>
      <a class="text-decoration-none text-danger" href="/">Home</a>
    </div>
  </body>
</html>
